<h1 class="text-center my-4">Mosaico de buenas prácticas</h1>

<div class="boxesContainer">
  <div class="cardBox" *ngFor="let card of cards; let i = index">
    <div class="card">
      <div class="front" [ngStyle]="{ 'background-color': pastelColors[i % pastelColors.length] }">
        <h3>{{ card.title }}</h3>
        <strong>&#x21bb;</strong>
      </div>
      <div class="back" [ngStyle]="{ 'background-color': pastelBacks[i % pastelBacks.length] }">
        <h3>{{ card.backTitle }}</h3>

        <!-- Si es lista -->
        <ul *ngIf="card.descriptionList">
          <li *ngFor="let item of card.descriptionList">{{ item }}</li>
        </ul>

        <!-- Si es solo texto plano -->
        <p *ngIf="!card.descriptionList">{{ card.description }}</p>
      </div>
    </div>
  </div>
</div>
