 <h2 class="fw-bold mb-4 text-center">Mosaico de buenas prácticas</h2>
<div class="boxesContainer">
  <div class="cardBox" *ngFor="let card of cards; let i = index">
    <div class="card">
      <!-- Front side -->
     <div class="front" >
        <ng-container *ngIf="card.frontImage">
          <img [src]="card.frontImage" alt="Frente" class="card-img"/>
        </ng-container>
       
      </div>

      <!-- Back side -->
      <div class="back">
        <ng-container *ngIf="card.backImage">
          <img [src]="card.backImage" alt="Reverso" class="card-img"/>
        </ng-container>
       
      </div>
    </div>
  </div>
</div>
