/* Activar solo con hover en desktop */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    transform: rotateY(180deg);
  }
}

/* Contenedor general */
.boxesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
}

.cardBox {
  width: 250px;
  min-height: 300px;
  max-height: 360px;
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  cursor: pointer;
}

/* Clase que se aplica en móviles/tabletas con click */
.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow-y: auto;
  overflow-x: hidden;
}

.front {
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  transform: rotateY(180deg);
  font-size: 0.75rem;
  z-index: 1;
}

.card-text-back {
  z-index: 1;
  position: relative;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.5rem;
  font-size: 0.85rem;
  color: #333;
  height: 100%;
  overflow-y: auto;
}

/* Textos */
.front h3,
.back h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.front p,
.back p,
.back li {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.4rem;
  text-align: left;
  word-wrap: break-word;
}

/* Listas */
.back ul {
  padding-left: 1.2rem;
  margin: 0;
}

/* Ícono de flecha en el frente */
.front strong {
  font-size: 1.5rem;
  margin-top: auto;
  align-self: center;
}

.mosaico-wrapper {
  padding: 3rem 1rem;
  background: linear-gradient(to bottom, #eaf4fb, #ffffff);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.preview-wrapper img {
  transition: all 0.4s ease-in-out;
}
