
<h2 class="fw-bold mb-3 text-center">Mosaico de buenas prácticas</h2>

<!-- Tarjetas -->
<div class="boxesContainer">
  <div
    class="cardBox"
    *ngFor="let card of cards"
    (mouseenter)="onCardHover(card.hoverPreview, card.color)"
    (mouseleave)="onCardHover()"
  >
    <div class="card">
      <!-- Lado frontal -->
      <div class="front text-white position-relative">
        <ng-container *ngIf="card.frontImage">
          <img
            [src]="card.frontImage"
            alt="Frente"
            class="card-img"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;"
          />
        </ng-container>
        <div class="card-text p-3 fw-bold fs-3" style="z-index: 1; position: relative; border-radius: 0.5rem;">
        <p class="mb-0">{{ card.frontText }}</p>
      </div>
      </div>

      <!-- Lado trasero -->
      <div class="back text-dark">
        <ng-container *ngIf="card.backImage">
          <img
            [src]="card.backImage"
            alt="Reverso"
            class="card-img"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: 0;"
          />
        </ng-container>
        <div
          class="card-text p-3 text-white"
          style="z-index: 1; position: relative; border-radius: 0.5rem;"
          [innerHTML]="card.backText"
        ></div>
      </div>
    </div>
  </div>
</div>
