.only-pdf {
  display: none;
}

.no-print {
  display: block;
}

@media print {
  .only-pdf {
    display: block !important;
  }

  .no-print {
    display: none !important;
  }
}

.emoji-unicode {
   font-family: 'EmojiIcons', 'Open Sans', sans-serif;
  font-size: 2.3rem;
  letter-spacing: 0.2rem;
}
.emoji-icon {
  font-family: 'EmojiIcons', 'Open Sans', sans-serif;
  font-size: 2.3rem;
  vertical-align: middle;
}

.table-primary th {
  background-color: #0c2e8d;  
  color: white !important;    
  border-color: #0a2472;      
}

.table-primary th:hover {
  background-color: #0a2472;  
}