.header-background {
  position: relative;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  overflow: hidden;
}

.header-background::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('/assets/images/mapaFondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
