<div class="container-fluid p-0">
 <div class="text-white text-center py-5"
     style=" 
       background-image: 
         linear-gradient(rgba(146, 174, 202, 0.95), rgba(255, 255, 255, 0.95)),
         url('../../../../assets/images/mapaFondo.png');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
       background-blend-mode: multiply;
       outline: 4px solid #004080; /* ✅ línea azul alrededor */
       outline-offset: -8px;       /* ✅ pega el borde al div */
     ">

    <div class="container">
      <nav class="navbar" style="height: 100px; display: flex; justify-content: center; align-items: center;">
        <a class="navbar-brand" [routerLink]="['/']" style="height: 100%; display: flex; align-items: center;">
          <img src="../../../../assets/images/Mosaico.png" alt="Mosaico" style="max-height: 80px; width: auto;" />
        </a>
      </nav>      
      
      <h2 class="lead text-light">
       <strong>Un mapa interactivo sobre las políticas migratorias a nivel local</strong> 
      </h2>
      <p class="lead text-light">
        Explora las <strong>buenas prácticas</strong> en contexto <strong>migratorio</strong> a nivel local.
      </p>
      <a [routerLink]="['/map']"
   class="btn btn-lg mt-4 px-5 shadow text-white"
   style="background-color: #004080; border: none;">
   Mapa interactivo
</a>
    </div>
  </div>
</div>

<app-introduction class="d-block my-5"></app-introduction>
<app-categories class="d-block my-5"></app-categories>
<app-card-flip></app-card-flip>
<app-documents class="d-block my-5"></app-documents>
