<div class="container-fluid p-0">
  <!-- Image Header -->
<div class="text-white text-center py-5 rounded-top-4 overflow-hidden"
     style="
       background-image:
          linear-gradient(rgba(146, 174, 202, 0.3), rgba(255, 255, 255, 0.3)),
         url('assets/images/mosaicoBanner.jpg');
       background-size: 100% auto;  /* <-- aquí el cambio */
       background-position: center center; /* <-- aquí el cambio */
       background-repeat: no-repeat;
       background-blend-mode: multiply;
       outline: 4px solid #000000;
       outline-offset: -8px;
     ">

    <div class="container">
      <nav class="navbar" style="height: 100px; display: flex; justify-content: center; align-items: center;">
  
      </nav>
          <h2 class="lead text-light mt-4" style="margin-top: 6rem !important;">
          <strong>Un mapa interactivo sobre las políticas migratorias a nivel local</strong>
      </h2>
    </div>
  </div>

  <div class="text-center py-3 rounded-bottom-4" style="background-color: #0c2e8d;">
    <a [routerLink]="['/map']"
       class="btn btn-lg px-4 text-white rounded-3 oim-btn"
       style="
         border: 2px solid #ffffffcc;
         background-color: rgba(255, 255, 255, 0.05);
         transition: all 0.3s ease;
         font-weight: 500;
       ">
       Mapa interactivo
    </a>
  </div>
</div>

<app-introduction class="d-block my-5"></app-introduction>
<app-categories class="d-block my-5"></app-categories>
<app-card-flip></app-card-flip>
<app-documents class="d-block my-5"></app-documents>
