<div class="container-fluid p-0">
  <div class="text-white text-center py-5"
       style="
         background-color: #2c3e50;
         background-image:
           linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px),
           linear-gradient(to bottom, rgba(255,255,255,0.03) 1px, transparent 1px);
         background-size: 20px 20px;
       ">
    
    <div class="container">
      <nav class="navbar" style="height: 100px; display: flex; justify-content: center; align-items: center;">
        <a class="navbar-brand" [routerLink]="['/']" style="height: 100%; display: flex; align-items: center;">
          <img src="../../../../assets/images/Mosaico-logo-sinFondo.png" alt="Mosaico" style="max-height: 300px; width: auto;" />
        </a>
      </nav>      
      
      
      <h2 class="h4 fw-normal text-white-50 mb-4">
        Un mapa interactivo sobre las políticas migratorias a nivel local
      </h2>
      <p class="lead text-light">
        Explora las <strong>buenas prácticas</strong> en contexto <strong>migratorio</strong> a nivel local.
      </p>
      <a [routerLink]="['/map']" class="btn btn-success btn-lg mt-4 px-5 shadow">Mapa interactivo</a>
    </div>
  </div>
</div>
  <app-introduction class="d-block my-5"></app-introduction>
  <app-categories class="d-block my-5"></app-categories>
  <app-card-flip></app-card-flip>
  <app-documents class="d-block my-5"></app-documents>

