<!-- FOOTER -->
<footer class="bg-dark text-light text-center mt-5">

<section style="background-color: #0c2e8d;" class="text-white py-3">

      <p class="mb-0 small">Mosaico es una plataforma digital desarrollada por Xenia Consultoras S. C., por encargo de la Organización Internacional para las Migraciones (OIM).</p>
      <p class="mb-0 small">&copy; Todos los derechos del contenido y diseño de este sitio están reservados a la Organización Internacional para las Migraciones (OIM).</p>
  </section>
</footer>
