/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'EmojiIcons';
  src: url('/assets/fonts/FuenteMigrante-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
